<ul class="list-group" *ngFor="let emp of user">
    <li class="list-group-item mt-2">Name:{{emp.name}}</li>
    <li class="list-group-item mt-2"><img src='{{emp.photo}}'></li>
    <li class="list-group-item mt-2">Id:{{emp.id}}</li>
    <li class="list-group-item mt-2">Designation:{{emp.designation}}</li>
    <li class="list-group-item mt-2">DOJ:{{emp.doj}}</li>
    <li class="list-group-item mt-2">Education:{{emp.education}}</li>
    <li class="list-group-item mt-2">BFD:{{emp.bfd}}</li>
    <li class="list-group-item mt-2">Company:{{emp.company}}</li>
    <li class="list-group-item mt-2">Salary:{{emp.salary}}</li>
    <li class="list-group-item mt-2">Location:{{emp.location}}</li>
</ul>
