<!-- <app-header></app-header>

<div class="container">
    this is glue between router module and html and this is built in directive
     <router-outlet></router-outlet>

</div> --> 

<!-- <app-users></app-users> -->

<!-- <course></course> -->
<!-- 
<app-simple></app-simple> -->
<!-- <app-emp></app-emp> -->
<!-- <app-contact></app-contact> -->
<!-- <app-register></app-register> -->
<!-- <app-students></app-students> -->
<!-- <app-form-build></app-form-build> -->

<!-- <div class="row">
    <div class="col-md-6">
        <app-login>
            <h1 id="login">Login</h1>
            <button id="btn">Login</button>
            <div>
                <span>Dont have an account please register</span>
                <a href="/register">Register</a>
            </div>
        </app-login>
    </div>
    <div class="col-md-6">
        <app-login>
            <h1 id="login">Register</h1>
            <button id="btn">Register</button>
            <div>
                <span>you have registered please login</span>
                <a href="/login">Login</a>
            </div>
        </app-login>
    </div>
</div> -->

<!-- </div>
    <router-outlet></router-outlet>
</div> -->
<app-header></app-header>
<app-player></app-player>